[Análisis de series de tiempo]
# **Calidad en un proceso minero**
**Elaborado por:** Jorge González R.

*Maestría en Ciencia de Datos, Pontificia Universidad Javeriana Cali*

# Contexto
Dentro del sector de la metalurgia, una planta de flotación de hierro es un proceso industrial que utiliza técnicas de separación por flotación para concentrar el mineral de hierro separandolo de las impurezas. 
En este proceso, se utilizan productos químicos para hacer flotar las partículas de mineral de hierro, mientras que las impurezas se hunden y se eliminan.

El concentrado de mineral de hierro es el producto final de la planta de flotación y es importante controlar las impurezas en este concentrado para garantizar su calidad. Las impurezas pueden incluir otros metales no deseados, como el cobre, el plomo o el zinc, o sustancias no metálicas, como el sílice o el azufre.

# Relevancia

Dentro de una planta de flotación las mediciones dentro del proceso industrial se realizan cada hora. La detección temprana de las impurezas en el concentrado de mineral, ayuda a los ingenieros en la toma anticipada de acciones correctivas que aseguran la calidad del producto.

Además de la calidad del mineral, también es muy importante el cumplimiento de los requisitos legales y medioambientales en relación con la emisión de contaminantes y la gestión de los residuos. 

Por último, el control de la impureza puede tener un impacto significativo en la eficiencia y los costos de producción.

# Desafios a resolver
A partir del conjunto de datos se podría dar respuestas a preguntas, como:

*   ¿Es posible predecir el % de concentrado de sílice cada minuto?
*   ¿Con cuántas horas de anticipación podemos predecir el % de sílice en el concentrado? Esto ayudaría con medidas de sostenimiento medioambiental.
*   ¿Es posible predecir el % de sílice en concentrado sin usar la columna de % de concentrado de hierro? Dado el supuesto de su alta correlación.

# Fuente de datos

*   La columna 1 muestra el intervalo de fecha y hora de la observación. 
*   De las columnas 2-3 son medidas de calidad del mineral de hierro justo antes de que se introduzca en la planta de flotación. 
*   De la columna 4-8 son las variables más importantes que impactan en la calidad del mineral al final del proceso.
*   Desde la columna 9-22 corresponde a características del proceso (p.e. nivel y flujo de aire) que también afectan la calidad del mineral.
*   La columna 23 es la medición final de la calidad de la pulpa del mineral de hierro del laboratorio.
*   La variable objetivo es la última columna, correspondiente al % de sílice en el concentrado de mineral de hierro.

In [ ]:
# Montando Drive en Colab
from google.colab import drive
drive.mount('/content/drive')

# Otras libreías
import pandas as pd

# Cargando el conjunto de datos
datos = pd.read_csv('/content/drive/MyDrive/MCD/Fuente/MiningProcess_Flotation_Plant_Database.csv')
datos.head(5)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,"55,2","16,98","3019,53","557,434","395,713","10,0664","1,74","249,214","253,235",...,"250,884","457,396","432,962","424,954","443,558","502,255","446,37","523,344","66,91","1,31"
1,2017-03-10 01:00:00,"55,2","16,98","3024,41","563,965","397,383","10,0672","1,74","249,719","250,532",...,"248,994","451,891","429,56","432,939","448,086","496,363","445,922","498,075","66,91","1,31"
2,2017-03-10 01:00:00,"55,2","16,98","3043,46","568,054","399,668","10,068","1,74","249,741","247,874",...,"248,071","451,24","468,927","434,61","449,688","484,411","447,826","458,567","66,91","1,31"
3,2017-03-10 01:00:00,"55,2","16,98","3047,36","568,665","397,939","10,0689","1,74","249,917","254,487",...,"251,147","452,441","458,165","442,865","446,21","471,411","437,69","427,669","66,91","1,31"
4,2017-03-10 01:00:00,"55,2","16,98","3033,69","558,167","400,254","10,0697","1,74","250,203","252,136",...,"248,928","452,441","452,9","450,523","453,67","462,598","443,682","425,679","66,91","1,31"